*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", serif;
}

body {
  font-family: "DM Sans", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
}

/* HEADER START */

header{
  width: 100%;
  height: auto;
  background-color: #0126de;
}

.check_menu{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 7px;
  padding: 16px 0;
}

.check_menu_text{
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 0.9rem;
}

.check_menu_form form input{
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 0.7rem;
  font-weight: 400;
  font-family: "Roboto", serif;
  background-color: rgb(64, 92, 230);
  padding: 15px 5px;
}

.check_menu_form form input::placeholder{
  font-size: 0.7rem;
  font-weight: 400;
  font-family: "Roboto", serif;
  color: rgba(0, 0, 0, 0.35);
}

.check_menu_btn{
  padding: 12px 25px;
  border-radius: 20px;
  border: none;
  font-size: 11px;
  text-align: center;
  font-weight: 400;
  font-family: "Roboto", serif;
}

.cancel_img{
  position: absolute;
  right: 1%;
  top: 35%;
}

nav{
  background-color: #f5ede7;
}

.row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.nav_left, .nav_right{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nav_left_menu{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
}

.nav_left_menu a:nth-child(1){
  text-align: left;
  width: 9%;
}

.nav_left_menu a:nth-child(2){
  text-align: left;
  width: 17%;
}

.nav_left_menu a:nth-child(3){
  text-align: left;
  width: 25%;
}

.nav_left a, .nav_right a{
  display: inline-block;
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: auto;
  margin-left: 16px;
}

.nav_left{
  width: 50%;
  gap: 16px;
  height: auto;
}

.nav_left_logo{
  width: 20%;
  height: auto;
}

.nav_left img{
  width: 100%;
  height: auto;
}

.nav_right{
  width: 10%;
  height: auto;
  gap: 10px;
}

.nav_right a{
  width: 45px;
  height: auto
}

.nav_right img{
  width: 100%;
  height: auto;
}

/* HEADER END */

/* HERO SECTION START */

.wrapp_hero{
  background-color: #ffc3a0;
}

.hero_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
}

.hero_left {
  width: 100%;
  height: auto;
}

.hero_left h1{
  width: 50%;
  font-size: 76px;
  font-weight: 400;
  line-height: 90px;
  font-family: "Roboto", serif;
  color: #000;
  padding-bottom: 33px;
}

.hero_left p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
  width: 80%;
  padding-bottom: 32px;
}

.hero_left button {
  border-radius: 20px;
  padding: 11px 73px;
  border: 1px solid black;
  background-color: transparent;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", serif;
}

.hero_right {
  position: relative;
  width: 100%
}

.hero_right img{
  width: 100%;
  height: auto;
}

.hero_slider {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}
.hero_slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero_slider_btn {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.hero_slider_btn button{
  padding: 0; /* Убираем внутренние отступы */
  border: none; /* Убираем рамку */
  background: transparent;
  cursor: pointer; /* Устанавливаем курсор указателя */
}

.hero_slider_btn button img{
  width: 100%; /* Изображение будет адаптироваться к размеру кнопки */
  height: auto; /* Сохраняем пропорции изображения */
  display: block; /* Убираем возможные отступы вокруг изображения */
}

/* HERO SECTION END */

/* WORKS SECTION START */

.wrapp_works {
  background-color: #f5eee7;
  width: 100%;
  height: auto;
  padding: 20px;
}

.works_card {
  width: 100%;
  height: auto;
}

.works_card h2{
  padding: 60px 0;
  font-family: "Roboto", serif;
  font-size: 43px;
  text-align: center;
  font-weight: 400;
}

.our_work_cards{
  display: flex;
  gap: 23px;
  width: 100%;
  height: auto;
}

.our_work_cards_img{
  width: 99px;
  height: 99px;
margin: 0 auto;
}

.our_work_cards img{
  width: 100%;
  height: auto;
}

.our_work_cards h5{
  font-weight: 400;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 5px 0;
}

.our_work_cards p{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.works_card_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.works_card_btn button , .freshly_btn {
  border-radius: 20px;
  padding: 11px 73px;
  background-color: transparent;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", serif;
  border: 1px solid #0126DE;
  color: #0126DE;
  margin: 50px 0;

}

/* WORKS SECTION END */


/* FRESHLY BAKED START */

.freshly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 72px 0;
}

.freshly_img , .freshly_text{
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.freshly_img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.freshly_text h3{ 
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
}
/* .freshly_btn {} .works_card_btn button koduna yonlendirilib */

/* FRESHLY BAKED END */


/* SHOP CART START */

.shop_kits {
  width: 100%;
  height: auto;
}
.shop_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Автоматическое количество столбцов */
  gap: 10px; /* Расстояние между элементами */
  padding: 20px; /* Отступы от краев контейнера */
}
.shop_cart {
  width: 100%;
  height: auto;
}

.shop_cart button{
  border: 1px solid #0126DE;
  color: #0126DE;
  border-radius: 20px;
  padding: 12px 73px;
  background-color: transparent;
}

.shop_cart h5{
  text-transform: uppercase;
  font-family: "Roboto", serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 36px;
  color: #000;
  width: 35%;
}

.shop_cart p{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  padding-bottom: 10px;
}
.shop_item_img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.shop_item_img img {
  width: 100%;
  object-fit: cover;
}

/* SHOP CART END */

/* BIG PHOTO START */

.big_photo{
  margin-top: 65px;
  background-color: #f5eee7;
}

.photo{
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.photo img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.big_photo_container {
  width: 100%;
  height: auto;
}
.big_photo_cart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding-bottom: 16px;
}

.big_photo_cart_img{
  border: 1px solid #000;
  border-radius: 20px;
}

.big_photo_cart_img h5{
  padding: 0px 50px;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  font-family: "Roboto", serif;
}

.big_photo_cart_img p {
  padding: 20px 30px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.big_photo_cart_img img{
  width: 100%;
  padding: 24px 24px 0 24px;
}

/* BIG PHOTO END */


/* BLOG NEWS START */

.wrapp_blog {
  width: 100%;
  height: auto;
}
.blog_container {
  margin: 0 20px 20px 20px;
  background-color: #f5eee7;
}
.blog {
  padding: 10px;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.news2{
  flex-direction: row-reverse;
}

.news_img {
  width: 537px;
  border-radius: 20px;
  overflow: hidden;
}

.news_img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.news_text {
  padding: 10px;
  width: 100%;
}

.news_text h4{
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.news_text p{
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  font-family: "Roboto", serif;
}

.news_text button{
  padding: 11px 73px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Roboto", serif;
  margin-top: 11px;
}

/* BLOG NEWS END */

/* TARLA SLIDER START */

.tarla_slider {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-content: center;
  width: 100%;
  height: auto;
  padding: 20px;
  border-top: 1px solid #000;
}

.tarla_slider h3{
  text-align: center;
  padding: 15px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 43px;
}

.tarla_slider_img {
  width: 100%;
  height: auto;
}

.tarla_slider_img img{
  width: 24.6%;
  height: auto;
}
/* TARLA SLIDER END */

/* FOOTER START */

footer{
  background-color: #f5eee7;
}

.footer_up {
  text-align: center;
}

.footer_up h2{
  padding: 16px 0 14px 0;
  font-size: 50px;
  font-weight: 400;
  font-family: "Roboto", serif;
}

.footer_up h3{
  padding: 0 0 14px 0;
  font-size: 31px;
  font-weight: 400;
  font-family: "Roboto", serif;
}
.footer_up form input{
  padding: 7px 139px;
  border-radius: 10px;
  background-color: #f5eee7;
}

.footer_up form input::placeholder{
  color: #000;
  font-size: 11px;
  font-family: "Roboto", serif;
}

.footer_bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-top: 97px;
}

.logo {
  width: auto;
  height: auto;
}

.logo div{
  width: auto;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
}

.account {
}
.our_company {
}
.resources {
}
.tarlabakes {
}
.tarlabakes_social {

}

.sub_category{
  text-transform: uppercase;
  color: #000;
}

.footer_bottom h5{
  font-family: "Roboto", serif;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.sub_category a{
  display: block;
  color: #000;
  text-decoration: none;
  padding: 4px 0;
}

.social_icons{
  padding: 0 1px;
}

.social_icons a{
  display: inline-block;
  margin: 0 1rem;
  width: 3rem;
  height: 3rem;
}

.social_icons a img {
  width: 100%;
  height: auto;
}

.copyrate{
  width: 100%;
  height: auto;
  padding: 66px 0 64px 30px;
}
.copyrate h4{
  color: #000;
  font-size: 1.3rem;
  font-weight: 400;
}
/* FOOTER END */



/* MEDIA QUERIES */


/* Стили для всех смартфонов (ширина экрана до 480px) */

@media (max-width: 1200px) {
}




@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CHECK MENU START */

  .check_menu{
    flex-wrap: wrap;
  }
  .check_menu_text{
    width: 80%;
  }
  .check_menu_text p{
    padding: 10px 20px;
  }
  .cancel_img{
    right: 5%;
    top: 10%;
  }

    /* NAV START */

  .row{
    justify-content: space-around;
  }
  .nav_left{
    width: 60%;
    gap: 16px;
  }
  .nav_left_logo{
    width: 100%;
    height: auto;
  }
  .nav_left_logo img{
    width: 70%;
    height: auto;
    margin-left: 0.4rem;
  }
  .nav_left_menu{
    width: 100%;
    height: 100%;
    gap: 4px;
  }
  .nav_left_menu a{
    font-size: 1rem;
  }
  .nav_left_menu a:nth-child(1) {
    width: 40%;
    margin-left: 4px;
  }
  .nav_left_menu a:nth-child(2) {
    width: 40%;
    margin-left: 0;
  }
  .nav_left_menu a:nth-child(3) {
    width: 50%;
    margin-left: 4px;
  }
  .nav_right{
    justify-content: end;
    width: 41%;
    gap: 0;
  }
  .nav_right a{
    width: 20%;
    margin: 0;
  }

  .nav_right a img{
    width: 60%;
  }


    /* HERO START */


    .hero_wrapper{
      flex-wrap: wrap;
    }
    .hero_left{
      width: 100%;
      margin: 0 auto;
      margin: 0 auto;
    }
    .hero_left h1{
      font-size: 4.3rem;
      width: 100%;
      text-align: center;
    }
    .hero_left p{
      font-size: 1.7rem;
      margin: 0 auto;
    }
    .hero_left button{
      margin: 0 12rem 3rem 14rem;
    }
  
    .hero_right{
      width: 100%;
    }

    /* FRESHLY START */

  .freshly{
    flex-wrap: wrap;
  }
  .freshly_text h3{
    font-size: 2.5rem;
    width: 90%;
    margin: 0 auto;
    line-height: 40px;
  }
  .freshly_btn{
    margin:  4rem 12rem 0 14rem;
  }


    /* SHOP GRID START */

  .shop_grid{
    grid: none;
    justify-content: center;
  }

  .shop_item_img img{
    width: 100%;
    height: auto;
  }
  .shop_cart{
    text-align: center;
  }
  .shop_cart h5{
    font-size: 2.5rem;
    width: 100%;
  }
  .shop_cart p{
    font-size: 1.9rem;
  }
  .shop_cart button{
    font-size: 1.3rem;
    margin: 1rem 0;

  }


  /* BIG PHOTO START */

  .big_photo_cart{
    grid: none;
    gap: 0;
  }
  .big_photo_cart_img{
    width: 100%;
  }
  .big_photo_cart_img h5{
    font-size: 2rem;
    line-height: 40px;
    text-transform: uppercase;
  }

  .big_photo_cart_img p{
    font-size: 1.4rem;
  }
  .tarla_slider_img{
    text-align: center;
  }
  .tarla_slider_img img{
    width: 48.6%;
  }

  /* FOOTER START */
  .footer_bottom{
    flex-wrap: wrap;
  }

  .footer_bottom h5 {
    font-size: 1.8rem;
    padding: 20px 0;
  }

  .sub_category a{
    font-size: 1.2rem;
  }

  .logo , .account, .our_company, .resources, .tarlabakes{
    width: 100%;
    height: auto;
    text-align: center;
  }
  .logo div{
    width: 100%;
    height: auto;
  }

  .logo div img{
    width: 70%;
    height: auto;
  }

  .social_icons a{
    padding: 0 5px;
  }

  .copyrate{
    text-align: center;
    padding: 66px 0;
  }


}




@media (max-width: 480px) {
  
  /* CHECK MENU START */
  .check_menu{
    flex-wrap: wrap;
  }
  .check_menu_text{
    width: 100%;
  }
  .check_menu_text p{
    padding: 10px 20px;
  }
  .cancel_img{
    right: 3%;
    top: 2%;
  }

  

  /* CHECK MENU END */


  /* NAV START */

  .row{
    justify-content: space-around;
  }
  .nav_left{
    width: 60%;
    gap: 6px;
  }
  .nav_left_logo{
    width: 100%;
    height: 100%;
  }
  .nav_left_logo img{
    width: 100%;
    height: 100%;
  }
  .nav_left_menu{
    width: 100%;
    height: 100%;
    gap: 4px;
  }
  .nav_left_menu a{
    width: 100%;
    font-size: 0.6rem;
  }
  .nav_left_menu a:nth-child(1) {
    width: 40%;
    margin-left: 4px;
  }
  .nav_left_menu a:nth-child(2) {
    width: 40%;
    margin-left: 0;
  }
  .nav_left_menu a:nth-child(3) {
    width: 50%;
    margin-left: 4px;
  }
  .nav_right{
    justify-content: end;
    width: 41%;
    gap: 0;
  }
  .nav_right a{
    width: 30%;
    margin: 0;
  }

  .nav_right a img{
    width: 60%;
  }

  /* NAV END */


  /* HERO START */


  .hero_wrapper{
    flex-wrap: wrap;
  }
  .hero_left{
    width: 100%;
    margin: 0 auto;
  }
  .hero_left h1{
    font-size: 2.3rem;
    width: 100%;
  }
  .hero_left p{
    font-size: 0.9rem;
  }
  .hero_left button{
    margin: 0 0 30px 20px;
  }

  .hero_right{
    width: 100%;
  }

  /* HERO END */

  /* HOW IT WORKS START */

  .our_work_cards{
    flex-wrap: wrap;
  }

  /* HOW IT WORKS END */

  /* FRESHLY START */

  .freshly{
    flex-wrap: wrap;
  }
  .freshly_text h3{
    font-size: 2rem;
    line-height: 40px;
  }
  .shop_grid{
    grid: none;
  }
  .big_photo_cart{
    grid: none;
    gap: 0;
  }
  .big_photo_cart_img{
    width: 100%;
  }
  .big_photo_cart_img h5{
    font-size: 2rem;
    line-height: 40px;
  }
  .tarla_slider_img img{
    width: 48.6%;
  }

  /* FRESHLY END */

  /* NEWS BLOG START */

  .news{
    flex-wrap: wrap;
  }

  /* NEWS BLOG END */

  /* FOOTER START */

  .footer_up form input{
    padding: 7px 90px;
  }

  .footer_bottom{
    flex-wrap: wrap;
  }

  .footer_bottom h5 {
    font-size: 0.8rem;
    padding: 20px 0;
  }

  .sub_category a{
    font-size: 0.7rem;
  }

  .logo , .account, .our_company, .resources, .tarlabakes{
    width: 100%;
    height: auto;
    text-align: center;
  }
  .logo div{
    width: 100%;
    height: auto;
  }

  .logo div img{
    width: 80%;
    height: auto;
  }

  .social_icons a{
    padding: 0 5px;
  }

  .copyrate{
    text-align: center;
    padding: 66px 0;
  }

  /* FOOTER END */
}

@media (min-width: 360px) and (max-width: 740px) {
  .nav_left_menu a:nth-child(3){
    width: 53%;
  }
}


@media (min-width: 1024px) and (max-width: 1366px) {
  .nav_right{
    width: 45%;
  }
  .nav_right a{
    width: 15%;
  }
}