*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

button, a{
    cursor: pointer;
}

header , main , footer {
    width: 100%;
    height: auto;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 0;
    background-color: #fff;
    width: 100%;
    height: auto;
}

/*  NAVIGATION STRAT */

.logo {
    display: flex;
    align-items: center;
    height: auto;
}

.logo img{
    width: 100%;
    height: auto;
}

.location a {
    display: flex;
    align-items: center;
    height: auto;
}

.location_p{
    color: #424242;
    font-weight: 700;
    padding: 0.2rem;
    font-size: 1.1rem;
    text-align: center;
}

.location_current{
    color: #424242;
    font-weight: 400;
    padding: 0.2rem;
    font-size: 1.1rem;
    text-align: center;
}

.location img{
    padding: 0 0.5rem;
}

.right {
    display: flex;
    align-items: center;
    height: auto;
    gap: 0.625rem;
}

.search_btn, .login_btn, .form_btn {
    display: flex; /* Устанавливает flex-контейнер */
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    gap: 0.625rem; /* Расстояние между иконкой и текстом (8px) */
    background-color: #fff;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    padding: 0.4rem 1rem;
    text-align: center;
    border: none;
}

.search_btn{
    color: #424242;
    font-weight: 700;
}

.login_btn {
    color: #FFB800;
    font-weight: 700;
    box-shadow: 0 10px 10px 5px rgba(255, 174, 0, 0.29);
}

.login_btn:hover , .search_btn:hover {
    transition: 0.5s;
    box-shadow: 0 0 10px 5px rgba(255, 174, 0, 0.29);
}



/* HEAD HERO STRAT */

.head_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/HTML/foodwagon/assets/img/photo/header_bg2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.head_hero_left {
    height: auto;
}
.head_hero_left_text {
    width: 100%;
    height: auto;
}

.head_hero_left_text h1{
    font-size: 5.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.head_hero_left_text h2{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(80, 79, 79, 1);
}

.head_hero_left_form {}

.form_up{
    padding: 0 0 0.75rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.644);
}

.form_bottom{
    padding: 0.75rem 0 0 0;
}

.head_hero_left_form form{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 1.5rem;
    margin: 2rem 0;
    border-radius: 0.5rem;
}

.head_hero_left_form form div {
    display: flex;
}

.head_hero_left_form form input{
    background-color: rgba(245, 245, 245, 1);
    width: 75%;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.form_btn {}

.form_delivery_btn, .form_pickup_btn {
    font-size: 1rem;
    font-weight: 700;
}

.form_delivery_btn{
    color: rgba(241, 114, 40, 1)
}

.form_delivery_btn:hover, .form_pickup_btn:hover{
    background-color: rgba(241, 114, 40, 0.1);
}

.form_pickup_btn{
    color: rgba(117, 117, 117, 1);
}

.form_find_btn {
    background-color: rgba(246, 89, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    margin: 0 0 0 1rem;
}

.form_find_btn:hover{
    background-color: rgba(255, 122, 122, 1);
}

.head_hero_right {
    height: auto;
}

.head_hero_right_img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.head_hero_right_img img {
    width: 80%;
    height: 80%;
}


/* DISCOUNT FOOD */


.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;
    margin: 5rem 0;
}

.food_discount {
}

.food_discount_section {
    position: relative;
    width: 100%;
    height: auto;
}

.food_discount_section img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
}

.discount_num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.6%;
    left: 0%;
    width: 8.75rem;
    height: 5.1rem;
    background-color: #FFB30E;
    border-radius: 0 2rem 0 1rem ;
    font-weight: 700;
    font-size: 4.25rem;
    color: #fff;
}
.discount_num img{
    width: 1.9rem;
    height: 3.6rem;

}

.discount_info{
    padding-top: 1.8rem;
}
.discount_food_name{
    font-weight: 700;
    font-size: 1.3rem;
    color: #424242;
}

.discount_remaining {
    margin-top: 0.9rem;
    width: 70%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: #F17228;
    background-color: rgba(241, 114, 40, 0.2);
    text-align: center;
}

/* HOW DOES IT WORK */


.work {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(255, 206, 103, 0.22) 50%, rgba(253, 237, 202, 0) 100%);
    padding: 5rem 0 4.4rem 0;
}
.work_name h2{
    color: #F17228;
    font-weight: 700;
    font-size: 2.6rem;
    text-align: center;
    padding: 0 0 4.4rem 0;
}
.about_order {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.about_order_cards {
    text-align: center;
    width: 16%;
}
.about_order_cards div img{
    width: 40%;
    height: auto;
}
.work_icon_name {
    padding: 0 0 0.8rem 0;
    color: #434343;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}
.work_icon_desc {
    color: #9E9E9E;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

/* POPULAR ITEMS */

.popular {
    width: 100%;
    height: auto;
}

.popular_name h2{
    color: #212121;
    font-weight: 700;
    font-size: 2.6rem;
    text-align: center;
    padding: 5rem 0 0 0;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    gap: 1rem;
}
.item_card {
    width: 15%;
    height: auto;
}
.item_card div {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.item_card div img {
    display: block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
    object-fit: cover;
    margin: 0 auto;
}
.item_name {
 padding: 1rem 0 0.5rem 0;
 font-weight: 700;
 font-size: 1.3rem;
 color: #424242;
}
.item_location {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    padding-bottom:  0.5rem;
    color: #FFB30E;
    font-weight: 400;
    font-size: 1.3rem;

}
.item_price {
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: #424242;
}
.item_btn {
    width: 100%;
    height: 3rem;
    background-color: #F17228;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
}

.item_btn:hover{
    box-shadow: 0 0 10px 5px rgba(250, 99, 35, 0.24)
}


/* FEATURED RESTOURANTS */

.restourants {
    padding: 2rem;
}
.restourants h2{
    color: #212121;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 5.5rem;
}
.restourant_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem 1rem;
}
.feature_restourants {
    border-radius: 1rem;
    overflow: hidden;
}
.restourants_food_img {
    object-fit: cover;
}
.restourant_discount {
}
.restourants_logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    padding: 2rem 0 1.5rem 0;
}
.restourants_name p{
    color: #424242 ;
    font-size: 22px;
    font-weight: 700;
}
.restourants_name p:hover{
    text-decoration: underline #F17228;
    cursor: pointer;
}

.restourant_raiting {
    display: flex;
    align-items: center;
    color: #FFB30E;
    font-size: 22px;
    font-weight: 400;
    gap: 8px;
}

.restourant_raiting:hover{
    color: #c98e0e;
}
.restourant_btn_disable {
    background-color: rgba(241, 114, 40, 0.2);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: #F17228;
    font-weight: 700;
    font-size: 1.3rem;
    border: none;
}

.restourant_btn_active {
    background-color: rgba(121, 185, 60, 0.2);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: #79B93C;
    font-weight: 700;
    font-size: 1.3rem;
    border: none;
}

.restourant_btn_active:hover{
    background-color: #629432;
    color: #fff; 
}

.restourant_btn_disable:hover{
    background-color: #F17228;
    color: #fff;
}

.view_all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view_all button{
    padding: 21px 48px;
    background: linear-gradient(to right, rgba(255, 186, 38, 1) 50%, rgba(255, 154, 14, 1) 100%);
    border-radius: 0.9rem;
    border: none;
    color: #fff;
    margin-top: 5.5rem;
    box-shadow: 0 0 10px 5px rgba(255, 174, 0, 0.29);
}

.view_all button:hover{
    background: linear-gradient(to left, rgba(255, 186, 38, 1) 50%, rgba(255, 154, 14, 1) 100%);
    transition: 1s;
}

/* SEARCH BY FOOD */

.search_by_food {
    padding: 20px;
    background-color: #FEFAF1;
}
.search_by_name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0 7.5rem 0;
}
.search_by_name h2{
    color: #212121;
    font-size: 2.6rem;
    font-weight: 700;
}

.search_by_name div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.search_by_view_all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #FFB30E;
}

.search_by_view_all:hover{
    color: #F17228;
}

.search_by_slide_right, .search_by_slide_left{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAAA01;
    padding: 0.8rem;
    border-radius: 50%;
}
.search_by_slide_right img, .search_by_slide_left img{
    width: 70%;
}
.search_by_slide_right:hover, .search_by_slide_left:hover{
    box-shadow: 0 0 10px 5px rgba(241, 114, 40, 1);
}

.search_by_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.2rem;
}
.search_by_items {
}
.search_by_items div{
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
}
.search_by_items img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
.search_by_items p{
    text-align: center;
    text-transform: capitalize;
    color: #424242;
    font-size: 1.3rem;
    font-weight: 700;
}


/* FEATURES AND MOBILE DOWNLOAD */

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: rgba(254, 239, 208, 1);
    padding: 8rem 0 8.8rem 0;
}

.features_cards_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.1rem;
    gap: 7rem;
    background-color: #fff;
    border-radius: 2.8rem;
    width: 80%;
}

.features_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.8rem;
    width: auto;
}
.features_cards p{
    width: 50%;
    font-weight: 700;
    font-size: 2.1rem;
    background-image: linear-gradient(to left, rgba(251, 60, 0, 1) 50% , rgba(255, 184, 0, 1) 100%);;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.features_cards div {
    width: 40%;
}
.features_cards div img{
    width: 100%;
    height: auto;
}

/* MOBILE DOWNLOADS */

.download_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(254, 239, 208, 1);
}
.phone {
    width: 40%;
    height: auto;
}
.phone img{
    width: 100%;
    height: auto;
}
.download_app {
    width: 30%;
    height: auto;
}
.download_app h2{
    text-align: center;
    font-weight: 700;
    font-size: 4.1rem;
    background-image: linear-gradient(to left, rgba(255, 184, 0, 1) 50% , rgba(255, 138, 0, 1) 100%);;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.download_app p{
    width: 65%;
    margin: 0 auto 0 3.5rem;
    color: rgba(130, 126, 126, 1);
    font-weight: 400;
    font-size: 1.1rem;
}
.download_links {
    margin: 0 auto 0 3.5rem;
    padding: 2.5rem 0;
}

.download_links a{
    display: inline-block;
    width: 100%;
    height: auto;
    width: 30%;
    overflow: hidden;
    text-decoration: none; /* Убирает подчеркивание */
    line-height: 0; /* Убирает лишние отступы */
    border-radius: 0.5rem;
}
.download_links a img{
    width: 100%;
    height: auto;
}

.download_links a:hover{
    box-shadow: 0 0 10px 5px rgba(255, 186, 38, 1);
}

/* DETAILS SECTIONS */

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
}
.detail_cards {
}
.detail_cads_img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.details_desc {
}
.cetails_btn {
}